# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Veritabanları
# SQLite dosyalarını çıkardık böylece Git'e dahil edilecekler
# *.db
# *.db-journal
# *.sqlite
# *.sqlite3

# Virtualenv
venv/
ENV/
virtualenv/
.env

# IDE dosyaları
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Log dosyaları
*.log
logs/

# Ortam dosyaları
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 